@{
    ViewData["Title"] = "CustomErrors";
}

<h1>CustomError Page Redirected From MyException Filter</h1>

<p> We have some problem in server. We make it up in a minute. We have some problem in server. We make it up in a minute. We have some problem in server. We make it up in a minute. We have some problem in server. We make it up in a minute.  </p>

<hr/>