
@{
    ViewBag.Title = "ListDepartment";
}

<h2>ListDepartment</h2>



<table class="table-striped">
    <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Deptname</td>
            </tr>
        }
    </tbody>
</table>