<h3>Create New Employee</h3>

<form  action="/Employee/Create" method="post">
    
    <label>Employee Id  : </label>
    <input name="Empid" type="text" />
    <br/><br/>

    <label>Employee Name  : </label>
    <input name="Ename" type="text" />
    <br/><br/>

     <label>Employee job  : </label>
    <input name="Ejob" type="text" />
    <br/><br/>

    <label>Employee salary  : </label>
    <input name="Esal" type="text" />
    <br/><br/>

    <label>Employee Dept no  : </label>
    <input name="Edeptno" type="text" />
    <br/><br/>

    <input type="submit" value="Create" />
</form>


@{
    if(ViewBag.RequestType == "POST")
    {
        <h1>Employee saved successfully</h1>
    }
}